

<div class="notice"">
   <%= flash[:notice] %>
</div>
<ul>
<p> Total de tareas en el sistema: <%= Tarea.all.count %> </p>
<p> Total de tareas completas <%= @completas %></p>
<p> Total de tareas por completar: <%= @incompletas %>
<table>
  <tr>
   <th> Nombre </th>
   <th> Vencimiento </th>
   <th> Completo </th>
   <th> Accion </th>
  </tr>
<h1 class="alerta"><%= @tareas.count == 0 ? "Eyyy! no tenemos tareas": "" %></h1>
<% @tareas.each do |tarea|%>
  <%= form_for(tarea) do |form|%>
  <tr>
    <td class='<%= "completo_" + tarea.completo.to_s %>'><%= tarea.nombre %></td>
    <td class="<%= tarea.vencida? %>"><%= tarea.vencimiento %> </td>
    <td><%= tarea.completo == true ? "Si" : "No" %></td>
    <td>
       <% if tarea.completo == false %>
       <%= form.submit "Completar" %>
       <% else %>
       <%= form.submit "Retomar" %>
  <% end %>
       <% end %>
<%= button_to "X", tarea , class: 'borrar', method: :delete, data: { confirm: 'Esta seguro de borrar esta tarea?'} %>
  </tr>

    </td>

<% end %>
</table>
<%= link_to "Nueva Tarea", new_tarea_path %>

      

</ul>


